= form_for @search_keyword do |f|
  - if @search_keyword.errors.any?
    #error_explanation
      %h2= "#{pluralize(@search_keyword.errors.count, "error")} prohibited this search_keyword from being saved:"
      %ul
        - @search_keyword.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :keyword
    = f.text_field :keyword
  .actions
    = f.submit '保存'
