%h2 キーワード

- @search_keywords.each do |search_keyword|
  .card.mt-2
    .card-body
      = search_keyword.keyword
      = link_to '削除', search_keyword, class: 'card-link', method: :delete, data: { confirm: '削除してもよろしいですか?' }
%br
= form_for SearchKeyword.new, html: { class: 'js-presence-check' } do |f|
  .form-group
    = f.text_field :keyword, class: 'form-control', placeholder: 'キーワードを入力してください'
  .mt-3
    = f.button 'キーワードを登録', class: 'btn btn-primary'
