%p#notice= notice

%p
  %b User:
  = @search_keyword.user
%p
  %b Keyword:
  = @search_keyword.keyword

= link_to 'Edit', edit_search_keyword_path(@search_keyword)
\|
= link_to 'Back', search_keywords_path
